/*   ---    Whole Page All Pages   ---   */
/*   ---    Whole Page All Pages   ---   */
/*   ---    Whole Page All Pages   ---   */

body {
	width: 100%;
}

header {
	background-color: #d54343;
	width: 90%;
	margin: 2% 5% 1% 5%;
	border-radius: 1em;
	height: 5em;
	padding: 1em 0 1em 0;

	text-align: center;
	color: #333333;
}

header h1 {

}

main {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	align-items: flex-start;
}

.col-3 {
	width: 31%;
	margin: 0% 1% 2% 1%;
	display: block;
	color: #333333;
	border-radius: 0.5em;
	background-color: #d54343;
}

.col-head,
.col-body {
	background: #4db8ff;
	border-radius: 0.5em;
	margin: 2% 2% 2% 2%;
	padding: 1%;
}

.col-head p,
.col-head h2 {
	text-align: center;
}

.col-head p {
	margin: 2% 0 2% 0;
	padding: 0% 5% 0% 5%;
	height: 2em;
}


.col-body {
	display: none;
}

.col-3 h2 {
	margin: 2% 0 1% 0;
}

